<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>NanoBlog</title>
</head>
<body>
    <header>
        <img src="" alt="icon">
    </header>
    <div class="container">
        <section class="post-creation">
            <button class="create-post">
                Create Post
            </button>
            <form action="/" method="post">
                <input type="text" name="title">
                <textarea name="content"></textarea>
                <button class="submit-post" type="submit">
                    submit
                </button>
                <input type="file" class="imageInput" accept="image/*">
                <input type="hidden" name="imgUrl" id="imgString">
            </form>
        </section>
    
        <section class="post-view">
            <!-- dynamic post content based on server data -->
            <% for (let i = 0; i < posts.length ; i++) { %>
                <div class="post">
                    <%- include("partials/post.ejs", {post: posts[i], index: i}) %>
                </div>
            <% } %>
        </section>
    </div>
    
    <footer>

    </footer>
    <script src="js/home.js"></script>
</body>
</html>